@import url(https://fonts.googleapis.com/css?family=Droid+Serif);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(https://fonts.googleapis.com/css?family=Khand);
@import url(https://fonts.googleapis.com/css?family=Rubik+Mono+One);

nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color:#;
	font-size: 25px;
	display: inline;
	color: #fff;
	font-family: Georgia, Serif;
	float:left;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	clear: both;
}
a:hover {
	background-color: ;
}
#hero {
	background-image: url(http://www.productionparadise.com/newsletters/353/photos/26414/original/street-soccer-2010-shot-09.jpg);
	background-size: cover;
	position: relative;
	height: 80vh;
}
#container {
	width: 500px;
	padding: 85px 50px 50px 50px;
}
#container h1 {
	color: #FFE2B8;
	font-family: 'Khand', sans-serif;
	text-align: center;
}
.button {
    display:block;
    height: 50px;
    width: 150px;
    background:#61B329;
    border: 2px solid black;
    color:rgba(0, 0, 0, .75);
    text-align: center;
    font-size: 20px;
    font-family: 'Rubik Mono One', sans-serif;
    line-height: 50px;
    border-radius: 25px;
}
.button a {
    text-decoration: none;
}