@import url(https://fonts.googleapis.com/css?family=Pacifico);
body {
	background-image: url(http://www.speedtheory.ca/van/files/4913/7935/6454/dauphine-photos-cycling-dark.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: #000;
	display: block;
	margin: 15px;
}
nav {
	list-style-type: none;
	margin:0;
	padding:0;
	overflow: hidden;
}
nav a {
	display:inline;
	position: relative;
	text-align: center;
	font-size: 36px;
	font-family: 'Pacifico', cursive;
	text-decoration: none;
	color: #fff;
	padding: 30px;
}
nav a:hover {
	color: #FE5A1D;
	text-decoration: underline;
	cursor: auto;
}
nav img {
	display:inline-block;
	height:auto;
	width:auto;
	padding: 0 30px;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	clear:both;
}