body {
    color: #458B00;
}
h1 {
    color:#FFA500;
}
#slogan {
    color:#FFA500;
    font-style: italic;
}
ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#555;
    font-size: 23px;
}
li {
    display: inline;
    color:#fff;
    font-family: Georgia, serif;
    float: right;
    padding: 12px 14px;
}
#hero {
    background-image:url(http://www.productionparadise.com/newsletters/353/photos/26414/original/street-soccer-2010-shot-09.jpg);
    background-size: cover;
    position: relative;
    height:100vh;
}

p {
    font-size: 22px;
}
a {
    text-decoration: none;
    font-style: italic;
    font-weight: 700;
}